name: tag_publish

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          version: 21

      - name: Gradle Build
        run: /bin/sh ./gradlew build

      - name: Gradle Publish
        run: /bin/sh ./gradlew -Pdeploy.user=${{ secrets.DEPLOY_USER }} -Pdeploy.password=${{ secrets.DEPLOY_PASSWORD }} publish
